.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 85px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer a {
  margin: 0 4px;
  font-weight: bold;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.67);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.rowTitle {
  margin-top: 24px;
  text-transform: uppercase;
}

.row {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.row input {
  border-radius: 6px;
  border: 1px solid #999;
  padding: 8px;
  margin-right: 8px;
}

.row p {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.calculateBtn {
  appearance: none;
  margin-top: 8px;
  background-color: palevioletred;
  border: 0;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.calculateBtn:hover {
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s;
}
